*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right, #f1f1f1 50%, #222121 50%);
}

.text {
  width: max-content;
  font-size: 6vw;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  opacity: 0;

  animation: anim 1.5s ease forwards;
}

span {
  display: block;
  background-image: linear-gradient(to right, #222121 50%, #f1f1f1 50%);
  background-clip: text;
  color: transparent;
}

@keyframes anim {
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
